html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 8vh 8vh 70vh 14vh;
    margin: 0vw;
}

.bannerd {
    height: 15vh;
    background-color: #be6b2f;
    grid-row: 1/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poetsen One",
        sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 12vw;
    color: #f6f6f6;
    box-shadow: 0vw 0.5vw 5px #8b8b8b;
}

.banners {
    background-color: #be6b2f;
    height: 7.5vh;
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poetsen One",
        sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
    color: #f6f6f6;
    box-shadow: 0vw 0.3vw 15px #8b8b8b;
}

.contentd {
    background-color: #f6f6f6;
    grid-row: 3/5;
    grid-column: 1/2;
    font-family: 'Roboto',
        'sans-serif';
    font-size: 3vw;
}

.contents {
    background-color: #f6f6f6;
    grid-row: 2/5;
    grid-column: 1/2;
    font-family: 'Roboto', 'sans-serif';
}

#mainpage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picturebutton {
    width: 78vw;
    height: 25vh;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
    box-shadow: 0vw 1vw 20px #8b8b8b;
    color: #f6f6f6;
    object-fit: cover;
}

.picturebutton:hover {
    box-shadow: none;
}

.thankyou {
    position: absolute;
    margin-top: 81vh;
}

.warning {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-top: 1vh;
}

.button {
    float: left;
    height: 15vw;
    width: 15vw;
    background-color: #be6b2f;
    border-radius: 15px;
    margin: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0vw 1vw 20px #8b8b8b;
    color: #f6f6f6;
    object-fit: cover;
}

.button:hover,
.close:hover {
    background-color: #e8b691;
    box-shadow: none;
}

.bigbold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    float: left;
    font-size: 5vw;
    margin-left: 2vw;
    margin-right: 3vw;
}

.repdata {
    width: auto;
    height: 11vh;
    margin: 5vw 10vw 5vw 10vw;
    padding-bottom: 5vw;
    border-bottom: 0.5vw solid #be6b2f;
    font-size: 3vw;
}

.claimbutton {
    float: right;
    height: 18vw;
    width: 25vw;
    padding: 2vw;
    background-color: #be6b2f;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0vw 1vw 20px #8b8b8b;
    color: #f6f6f6;
    font-size: 3.5vw;
    margin-left: 3vw;
}

#college {
    background-color: #b19f92;
}

#claimed {
    background-color: #e8b691;
}

#claimed:hover {
    box-shadow: none;
}

#claimable:hover {
    background-color: #e8b691;
    box-shadow: none;
}

#claimable::before {
    content: "Claim";
}

#claimed::before {
    content: "Geclaimed"
}

.return {
    position: absolute;
    background-image: url("https://i.ibb.co/mvS51Wp/Back.png");
    height: 10vw;
    width: 10vw;
    margin: 2vw;
    z-index: 5;
    background-size: 10vw 10vw;
}

#map {
    height: 77vh;
    width: 85vw;
    margin-top: 3vh;
    box-shadow: 0vw 0.5vw 10px #8b8b8b;
    border-radius: 15px;
}

#mappicture {
    border-radius: 5px;
    width: 90vw;
    height: 15vh;
    object-fit: cover;
}

.leaflet-popup-content {
    font-family: 'Roboto', 'sansserif';
    font-size: 3vw;
}

.leaflet-container a.leaflet-popup-close-button {
    color: #be6b2f;

}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background-color: #f6f6f6;
    width: 60vw;
    box-shadow: 0vw 1vw 15px rgba(0, 0, 0, 0.5);
}

.leaflet-marker-icon {
    filter: invert(50%) sepia(16%) saturate(1777%) hue-rotate(342deg) brightness(91%) contrast(98%);
    height: 2.5vh !important;
    width: 3vw !important;
    margin-left: -5px !important;
    margin-top: -16px !important;
}

.leaflet-touch .leaflet-control-zoom-in,
.leaflet-touch .leaflet-control-zoom-out {
    color: #be6b2f;
}

.leaflet-bar a {
    background-color: #f6f6f6;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    border-radius: 10px;
    border: 2px solid #be6b2f;
    box-shadow: 0vw 1vw 10px rgba(0, 0, 0, 0.5);
    ;
}

.leaflet-control-zoom-in {
    border-radius: 10px 10px 0px 0px !important;
}

.leaflet-control-zoom-out {
    border-radius: 0px 0px 10px 10px !important;
}

#loginpage {
    padding: 5vh 15vw 5vh 15vw;
    font-family: 'roboto', 'sans serif';
}

label {
    color: #be6b2f;
    font-weight: 600;
    font-size: 3.5vw;
}

#formelement {
    height: 8vw;
    width: 70vw;
    border: 0.5vw solid #be6b2f;
    border-radius: 15px;
    font-size: 3vw;
    padding: 1.5vw;
    margin-top: 1vw;
    outline: none;
    background-color: #f6f6f6;
}

#formelement:focus {
    border-color: #e8b691;
    outline: none;
}

.textbutton {
    float: center;
    height: 15vw;
    padding: 0vw 7vw 0vw 7vw;
    width: 25vw;
    background-color: #be6b2f;
    border-radius: 15px;
    margin: 3vh 22.5vw 3vh 22.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0vw 1vw 20px #8b8b8b;
    color: #f6f6f6;
    font-size: 3.5vw;
}

.textbutton:hover {
    background-color: #e8b691;
    box-shadow: none;
}