html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 8vh 8vh 70vh 14vh;
    margin: 0vw;
}

.bannerd {
    height: 15vh;
    background-color: #436098;
    grid-row: 1/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poetsen One",
        sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 12vw;
    color: #f6f6f6;
    box-shadow: 0vw 0.6vw 20px #8b8b8b;
}

.banners {
    background-color: #436098;
    height: 7.5vh;
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poetsen One",
        sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
    color: #f6f6f6;
    box-shadow: 0vw 0.3vw 15px #8b8b8b;
}

.contentd {
    background-color: #f6f6f6;
    grid-row: 3/5;
    grid-column: 1/2;
}

.contents {
    background-color: #f6f6f6;
    grid-row: 2/5;
    grid-column: 1/2;
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.4vw;
}

#mainpage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonarea {
    background-color: #f6f6f6;
    grid-row: 4/5;
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
}

.button {
    float: left;
    height: 15vw;
    width: 15vw;
    background-color: #436098;
    border-radius: 15px;
    margin: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0vw 1vw 20px #8b8b8b;
    color: #f6f6f6;
    object-fit: cover;
}

.button:hover,
.close:hover {
    background-color: #a3bae8;
    box-shadow: none;
}

.picturebutton {
    width: 78vw;
    height: 20vh;
    background-color: #436098;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5.5vh;
    box-shadow: 0vw 1vw 20px #8b8b8b;
    color: #f6f6f6;
    object-fit: cover;
}

.picturebutton:hover {
    box-shadow: none;
}

.return {
    position: absolute;
    background-image: url("https://i.ibb.co/mvS51Wp/Back.png");
    height: 10vw;
    width: 10vw;
    margin: 2vw;
    z-index: 5;
    background-size: 10vw 10vw;
}

#formelement {
    height: 8vw;
    width: 70vw;
    border: 0.5vw solid #436098;
    border-radius: 15px;
    font-size: 3vw;
    padding: 1.5vw;
    margin-top: 1vw;
    outline: none;
    background-color: #f6f6f6;
}

#formelement:focus {
    border-color: #a3bae8;
    outline: none;
}

#searchpage {
    padding: 5vw 15vw 5vw 15vw;
    font-family: 'roboto', 'sansserif';
}

#dropdown {
    font-size: 1.2vw;
    background-color: #f6f6f6;
    color: #191919;
}

label {
    color: #436098;
    font-weight: 600;
    font-size: 3.5vw;
}

.textbutton {
    float: center;
    height: 15vw;
    padding: 0vw 7vw 0vw 7vw;
    width: 25vw;
    background-color: #436098;
    border-radius: 15px;
    margin: 3vh 22.5vw 3vh 22.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0vw 1vw 20px #8b8b8b;
    color: #f6f6f6;
    font-size: 3.5vw;
}

.textbutton:hover {
    background-color: #a3bae8;
    box-shadow: none;
}

.misdata {
    width: auto;
    height: 14vh;
    margin: 4vw 10vw 4vw 10vw;
    padding-bottom: 5vw;
    border-bottom: 0.5vw solid #436098;
    font-size: 3vw;
}

.misdata img {
    float: left;
    height: 10vh;
    width: 10vh;
    margin: 1vh 3vw 3vh 0vw;
    border-radius: 25px;
    box-shadow: 0vw 0.5vw 10px #8b8b8b;
    object-fit: cover;
}

.misbutton {
    float: right;
    height: auto;
    padding: 2vw;
    width: auto;
    background-color: #436098;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0vw 0.5vw 10px #8b8b8b;
    color: #f6f6f6;
    font-size: 3vw;
}

.misbutton:hover {
    background-color: #a3bae8;
    box-shadow: none;
}

#scroll {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f6f6f6;
}

::-webkit-scrollbar-thumb {
    background: #a3bae8;
}

::-webkit-scrollbar-thumb:hover {
    background: #436098;
}

.popup {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    grid-row: 1/4;
    grid-column: 1/2;
    margin: 0vw;
    z-index: 10;
}

.popupmenu {
    background-color: #f6f6f6;
    width: 60vw;
    height: 30vh;
    max-height: 80vh;
    margin-left: 20vw;
    margin-top: 25vh;
    margin-bottom: auto;
    border-radius: 20px;
    padding: 8vw;
    font-family: 'Roboto', 'Sans Serif';
    font-size: 2vh;
}

#catfound {
    background-color: #a3bae8;
    box-shadow: none;
}

#findyes,
#findno {
    float: left;
    width: 18vw;
    height: 7vh;
    margin: 2vh 2vw 0vh 2vw;
}

#loginpage {
    padding: 5vh 15vw 5vh 15vw;
    font-family: 'roboto', 'sans serif';
}

#person {
    padding: 3vh 15vw 3vh 15vw;
    font-family: 'roboto', 'sansserif';
    font-size: 3.5vw;
}

#generate {
    width: 50vw;
    height: 10vh;
    text-align: center;
    margin-left: 10vw;
    margin-top: 20vh;
}

.daily {
    float: center;
    height: 20vw;
    padding: 0vw 7vw 0vw 7vw;
    width: 35vw;
    background-color: #a3bae8;
    border-radius: 15px;
    margin: 3vh 17.5vw 3vh 17.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
}

.close {
    height: 15vw;
    width: 15vw;
    background-color: #436098;
    border-radius: 90px;
    margin: 1vh 0vw 1vh 17.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0vw 1vw 20px #8b8b8b;
    color: #f6f6f6;
    object-fit: cover;
}

#number {
    height: 20vw;
    padding: 0vw 7vw 0vw 7vw;
    width: 35vw;
    background-color: #a3bae8;
    border-radius: 15px;
    margin: 1vh 0vw 1vh 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5vw;

}

#smallpop {
    height: 68vw;
    width: 65vw;
    font-size: 3.5vw;
    margin: 30vh 0vw 0vh 17.5vw
}

.scdata {
    width: auto;
    height: 14vh;
    margin: 4vw 10vw 4vw 10vw;
    padding: 6.5vw 0vw 5vw 0vw;
    border-bottom: 0.5vw solid #436098;
    font-size: 3vw;
}

.scdata img {
    float: left;
    height: 10vh;
    width: 10vh;
    margin: -2.2vh 3vw 3vh 0vw;
    border-radius: 25px;
    box-shadow: 0vw 0.5vw 10px #8b8b8b;
    object-fit: cover;
}

#adding {
    padding: 11vw 0vw 5vw 0vw;
}

#adding img {
    margin: -9vw 13vw 3vh 0vw;

}

.editbutton {
    float: right;
    width: 10vw;
    height: 10vw;
    border-radius: 15px;
    background-color: #436098;
    content: url('https://i.ibb.co/kKpKn8R/Edit.png');
    box-shadow: 0vw 0.5vw 10px #8b8b8b;
}

.editbutton:hover {
    background-color: #a3bae8;
    box-shadow: none;
}

#addit {
    padding: 3vw 15vw 3vh 15vw;
    font-family: 'roboto', 'sans serif';
    font-size: 3vw;
}

.gallerij2 img {
    float: left;
    display: flex;
    position: relative;
    width: 16vw;
    height: 16vw;
    border-radius: 25px;
    object-fit: cover;
    margin-right: 3vw;
    margin-top: 1vh;
    margin-bottom: 5vh;
    box-shadow: 0vw 0.5vw 10px #8b8b8b;
}

.container {
    display: block;
    position: relative;
    padding-left: 6vw;
    margin-top: 1vh;
    margin-bottom: 1.5vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #191919;
    font-weight: 400;
    font-family: 'roboto', 'sans-serif'
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 4.5vw;
    width: 4.5vw;
    background-color: #f6f6f6;
    border: 0.3vh solid #436098;
    border-radius: 90px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 0.5vw;
    left: 0.5vw;
    width: 2.3vw;
    height: 2.3vw;
    border-radius: 90px;
    background: #436098;
}

#formelements {
    height: 3.5vh;
    width: 66vw;
    border: 0.5vw solid #436098;
    border-radius: 10px;
    font-size: 2.5vw;
    padding: 1vw;
    margin-top: 1vw;
    outline: none;
}

#formelements:focus {
    border-color: #a3bae8;
}

#smallerlabel {
    font-size: 3vw;
    margin-top: 1vh;
}

#formelementl {
    height: 11.2vh;
    width: 66vw;
    border: 0.5vw solid #436098;
    border-radius: 10px;
    font-size: 2vw;
    padding: 1vw;
    margin-top: 1vw;
    outline: none;
}

#formelementl:focus {
    border-color: #a3bae8;
}

#addnewcat {
    margin: 14vh 0vw 0vh 10vw;
    width: 35vw;
    text-align: center;
}

a {
    text-decoration: none;
}