html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 8vh 8vh 70vh 14vh;
    margin: 0vw;
}

.bannerd {
    height: 15vh;
    background-color: #457354;
    grid-row: 1/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poetsen One",
        sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 12vw;
    color: #f6f6f6;
    box-shadow: 0vw 0.6vw 20px #8b8b8b;
}

.banners {
    background-color: #457354;
    height: 7.5vh;
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poetsen One",
        sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
    color: #f6f6f6;
    box-shadow: 0vw 0.3vw 15px #8b8b8b;
}

.contentd {
    background-color: #f6f6f6;
    grid-row: 3/5;
    grid-column: 1/2;
    font-size: 3vw;
}

.contents {
    background-color: #f6f6f6;
    grid-row: 2/5;
    grid-column: 1/2;
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.4vw;
}

#mainpage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonarea {
    background-color: #f6f6f6;
    grid-row: 4/5;
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
}

.button {
    float: left;
    height: 15vw;
    width: 15vw;
    background-color: #457354;
    border-radius: 15px;
    margin: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0vw 1vw 20px #8b8b8b;
    color: #f6f6f6;
    object-fit: cover;
}

.button:hover,
.close:hover {
    background-color: #aacfb6;
    box-shadow: none;
}

.picturebutton {
    width: 78vw;
    height: 18vh;
    background-color: #457354;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
    box-shadow: 0vw 1vw 20px #8b8b8b;
    color: #f6f6f6;
    object-fit: cover;
}

.picturebutton:hover {
    box-shadow: none;
}

.bigbold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    float: left;
    font-size: 6vw;
    margin-left: 4vw;
}

.popup {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    grid-row: 1/4;
    grid-column: 1/2;
    margin: 0vw;
    z-index: 10;
}

.popupmenu {
    background-color: #f6f6f6;
    width: 54vw;
    max-height: 80vh;
    margin-left: 15vw;
    margin-top: 17vh;
    margin-bottom: auto;
    border-radius: 20px;
    padding: 8vw;
    font-family: 'Roboto', 'Sans Serif';
    font-size: 2vh;
}

#locationbutton,
#emergencybutton {
    display: flex;
}

.return {
    position: absolute;
    background-image: url("https://i.ibb.co/mvS51Wp/Back.png");
    height: 10vw;
    width: 10vw;
    margin: 2vw;
    z-index: 5;
    background-size: 10vw 10vw;
}

.close {
    height: 15vw;
    width: 15vw;
    background-color: #457354;
    border-radius: 90px;
    margin-left: 19vw;
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0vw 1vw 20px #8b8b8b;
    color: #f6f6f6;
    object-fit: cover;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40vw;
    height: 19vw;
    margin-left: 7vw;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f6f6f6;
    -webkit-transition: .6s;
    transition: .6s;
    border: 1vw solid #457354;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15vw;
    width: 15vw;
    margin: 1vw;
    background-color: #aacfb6;
    -webkit-transition: .6s;
    transition: .6s;
    color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    content: 'uit';
}

input:checked+.slider:before {
    -webkit-transform: translateX(21vw);
    -ms-transform: translateX(21vw);
    transform: translateX(21vw);
    background-color: #457354;
    content: 'aan';
}

.slider.round {
    border-radius: 90px;
}

.slider.round:before {
    border-radius: 90px;
}

.phone {
    color: #457354;
    font-size: 14vw;
    margin-bottom: 5vw;
    margin-left: 9vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    object-fit: contain;
    border-bottom: 0.8vw solid #457354;
    width: min-content;
}

li::marker {
    color: #457354
}

.onebuttoncontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-top: 1vh;
    margin-left: 7vw;
    padding-bottom: 1vh;
}

.submissionform {
    padding-left: 10vw;
    padding-right: 10vw;
    display: block;
}

hr {
    width: 80vw;
    height: 0.5vh;
    background-color: #457354;
    margin-bottom: 3vh;
    box-shadow: 0vw 0.3vw 10px #8b8b8b;
}

.container {
    display: block;
    position: relative;
    padding-left: 6vw;
    margin-top: 1vh;
    margin-bottom: 1.5vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 3.5vw;
    color: #191919;
    font-weight: 400;
    font-family: 'roboto', 'sans-serif'
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 4.5vw;
    width: 4.5vw;
    background-color: #f6f6f6;
    border: 0.3vh solid #457354;
    border-radius: 90px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 0.5vw;
    left: 0.5vw;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 90px;
    background: #457354;
}

.textbutton {
    float: left;
    height: 15vw;
    padding: 0vw 7vw 0vw 7vw;
    width: auto;
    background-color: #457354;
    border-radius: 15px;
    margin: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0vw 1vw 20px #8b8b8b;
    color: #f6f6f6;
    font-size: 3.5vw;
}

.textbutton:hover {
    background-color: #aacfb6;
    box-shadow: none;
}

.camerabutton {
    background-color: #c0c0c0;
    width: 15vh;
    height: 15vh;
    border-radius: 25px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grey {
    color: #8b8b8b;
}

.activelocation {
    float: left;
    margin-bottom: 2vh;
}

#submit {
    color: #f6f6f6;
}

#submitcat {
    margin-top: 30vh;
}

#profile {
    padding: 0vw 10vw 10vw 10vw;
    font-family: 'roboto', 'sans serif';
    font-size: 3vw;
}

.header {
    color: #457354;
    font-weight: 600;
    font-size: 5vw;
    margin-bottom: 4vw;
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallerij {
    position: relative;
}

.gallerij img {
    float: left;
    display: flex;
    position: relative;
    width: 18vw;
    height: 18vw;
    border-radius: 25px;
    object-fit: cover;
    margin-right: 2vw;
    margin-top: 2vw;
    box-shadow: 0vw 0.5vw 10px #8b8b8b;
    transition: width 0.5s,
        height 0.5s,
        box-shadow 0.5s;
}

.gallerij img:hover {
    box-shadow: none;
    width: 70vw;
    height: 70vw;
    margin-right: 0;
    margin-top: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999
}

#settings {
    padding: 4vw 15vw 5vw 15vw;
    font-family: 'roboto',
        'sans serif';
    font-size: 4vw;
}

label {
    color: #457354;
    font-weight: 600;
    font-size: 3.5vw
}

#formelement {
    height: 8vw;
    width: 70vw;
    border: 0.5vw solid #457354;
    border-radius: 15px;
    font-size: 3vw;
    padding: 1.5vw;
    margin-top: 1vw;
    outline: none;
    background-color: #f6f6f6;
}

#formelement:focus {
    border-color: #aacfb6;
    outline: none;
}

.extrainfo {
    font-size: 2.5vw;
    color: #8b8b8b;
    margin-bottom: -3vh;
}

#savesettings {
    margin-top: 30vh;
}

#logout {
    margin-top: 35vh;
}

#yourcat {
    padding: 2vw 8vw 5vw 8vw;
    font-family: 'roboto',
        'sans serif';
    font-size: 2.2vw;
}

.catid {
    float: left;
    width: 25vw;
    height: 25vw;
    border-radius: 25px;
    object-fit: cover;
    box-shadow: 0vw 1vw 15px #8b8b8b;
    display: flex;
    flex-direction: row;
    margin-right: 3vw;
    margin-bottom: 3vw;
}

.catid:hover {
    box-shadow: none;
}

#smallerlabel {
    font-size: 3vw;
    margin-top: 1vh;
}

#formelements {
    height: 3vw;
    width: 66vw;
    border: 0.5vw solid #457354;
    border-radius: 10px;
    font-size: 2.5vw;
    padding: 1vw;
    margin-top: 1vw;
    outline: none;
}

.gallerij2 img {
    float: left;
    display: flex;
    position: relative;
    width: 16vw;
    height: 16vw;
    border-radius: 25px;
    object-fit: cover;
    margin-right: 1.5vw;
    margin-top: 0.5vh;
    box-shadow: 0vw 0.5vw 10px #8b8b8b;
}

#missing,
#found,
#died {
    margin-top: 5vh;
    padding: 1vw 7vw 1vw 7vw;
    margin-right: 2vw;
}

#addcat {
    position: absolute;
    margin-top: 15vh;
    margin-left: 16.5vw;
}

.gifcontainer {
    position: relative;
    width: 100vw;
    height: 92.5vh;
    overflow: hidden;
    margin-top: -0.5vh;
}

.gif {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease-out;
}

#gif1 {
    z-index: 3;
}

#gif2 {
    z-index: 2;
    transform: translateY(100%);
}

#gif3 {
    z-index: 1;
    transform: translateY(100%);
}

#catviewbuttons {
    position: absolute;
    z-index: 5;
    background-color: transparent;
    margin-top: 78vh;
    margin-left: 7vw;
}

#disabled {
    background-color: #848f88;
    display: flex;
    margin-left: 8vw;
    margin-right: 8vw;

}

#disabled:hover {
    box-shadow: 0vw 1vw 20px #8b8b8b;
}

#reportvideomenu {
    margin-top: 13vh;
}

#confirmreport {
    margin-top: 3vh;
    margin-left: 0vw;
    margin-right: 8vw;
}

#reportconfirmmenu {
    margin-top: 30vh;
}

#catviewbanner {
    box-shadow: 0vw 1vw 15px rgba(0, 0, 0, 0.5);
    z-index: 4;
}

#reportvideo,
#shelteroption,
#like,
#liked,
#share {
    box-shadow: 0vw 1vw 15px rgba(0, 0, 0, 0.5);
}

.loading {
    background-color: #457354;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poetsen One', 'sanserif';
    font-size: 15vw;
    color: #f6f6f6;
}

#loginchoice {
    height: 22vh;
}

#loginpage {
    padding: 5vh 15vw 5vh 15vw;
    font-family: 'roboto', 'sans serif';
}